*, *:after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html{
    font-size: 20px;
    
}

body{
   /* background: linear-gradient(to right, rgb(26, 25, 25) , rgb(19, 0, 19) );*/
   background-color: rgb(26, 25, 25);
}

header{
font-family: serif;
font-size: 1.4rem;
position:relative;
display: flex ;
justify-content: center;
color: white;
padding: 1rem;
}

header span{
    writing-mode: vertical-rl;
}

nav ul{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;

    
    

}

nav ul li {
    list-style: none;
    color: rgba(255, 255, 255, 0.37);
    text-transform: capitalize;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: none;
    border-radius: 25px;
   transition: all 2s ;
   
    box-shadow:   inset -3px -3px 10px  rgb(8, 8, 8) , inset 3px 3px 10px  #2b2b2c;
}

.stopwatch{
    position: relative;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content:space-around ;
    gap: 1.7rem;
    margin-top: 2rem;
    width: 100vw;
   
}
#input_time{
    
    padding: 0.2rem;
    font-size: 1rem;
    position: relative;
    display: flex;
    text-align: center;
    align-self: center;
    width: 70%;
    background: transparent;
}

.st_design{
    position: relative;
    width: 230px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: white;
    display: flex;
    background: inherit;
    justify-content: center;
    isolation: auto;
    align-items:center ;
    
  gap: 0.15rem;
    box-shadow:  1px 1px 8px  rgb(14, 1, 12) ,   -1px -1px 6px rgba(161, 149, 161, 0.17);
    transition: all 2s;
}

.st_design span{
    color: rgb(237, 230, 243);
    padding: 0.1rem;
    z-index: 7 ;
    
    
}


sub{
position: absolute;
    color: blue;
    z-index: 9;
    top: 58%;
}

.st_design::after{
    content: '';
    position: absolute;
    align-self: center ;
    width: 80%;
    background-color:rgba(253, 251, 253, 0.075) ;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 2;
    box-shadow: inset 4px 4px 12px  rgb(14, 1, 12) ,  inset -4px -4px 12px rgba(161, 149, 161, 0.17)
}

.st_design::before{
    content: '';
    position: absolute;
    align-self: center ;
    width: 90%;
    background-color:rgba(230, 11, 230, 0.075) ;
    aspect-ratio: 1/1;
    border: 3px solid rgb(211, 45, 161);
    border-style: dotted;
    border-radius: 50%;
    z-index: 18;
    
    box-shadow: inset 4px 4px 12px  rgb(14, 1, 12) ,  inset -4px -4px 12px rgba(161, 149, 161, 0.17)
}


.st_design:hover {

    transform: rotate(360deg);
    
}
.stopwatch ul  {
    position:  relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 500px; ;
    list-style: none;
}

.stopwatch ul li{
    position: relative;
    width: 100%;

}
.actionButton{
    display: flex;
    justify-content: space-evenly;
    gap: 0.8rem;
}
.actionButton button{
    padding: 0.4rem;
    font-size: 0.6rem;
    border: none;
    outline: none;
  
}

.playPause {
 
    color: rgb(52, 163, 52);

}

.pause{
 color: white;
}

.stopReset{
color: red;
}
.reset{
    color: white;
}
.lap{
    color:  rgb(211, 45, 161);
}
.list{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1.5rem;
    position: relative;
    align-items: center ;
    padding: 1.5rem;
    width: 80%;
    color: white;
    overflow-y: scroll;
    margin-top: 2rem;
    height: 20vh;
    box-shadow: inset 4px 4px 12px  rgb(14, 1, 12) ,  inset -4px -4px 12px rgba(172, 141, 172, 0.17)
    
}

 input{
    width: 150px;
    color: rgb(211, 45, 161) ;
    outline: none;
    background: transparent;
    border: none;
    text-align: center ;
    font-size: 1rem;
    border-bottom: 1px solid silver;
    
}
.ret{
    position: absolute;
}

 .show{
    padding: 0.4rem;
    background: rgba(255, 255, 255, 0.253);
    color: white;
    float: right;
    margin-bottom: 10px ;
 }
.listBUTTON{
    position: relative;
    place-self: right;
    padding: 0.3rem;
    margin-left: 2rem ;
    width: fit-content;
    background-color: rgba(88, 86, 86, 0.521);
    color: white;
    
}

.stopwatch .down{
    width: 100%;
    position: relative;
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    
}

.stopwatch .down button{
    padding: 0.3rem;
    font-size: 0.8rem;
    color:white
}

button{
    background: inherit;
    box-shadow:  1px 1px 8px  rgb(14, 1, 12) ,   -1px -1px 6px rgba(161, 149, 161, 0.17);
}

