*, *:after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html{
    font-size: 20px;
    color: white;
    overflow: hidden;
    
}

:root{
    --pr: purple
}

body{
    background: linear-gradient(to right, rgb(26, 25, 25) , rgb(19, 0, 19) );
    overflow-y: hidden;
}

header{
font-family: serif;
font-size: 1,4rem;

position:relative;
top: 3%;

display: flex ;

left: 5%
}

header span{
    writing-mode: vertical-rl;
}

nav ul{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    
    

}

nav ul li {
    list-style: none;
    color: rgba(255, 255, 255, 0.37);
    text-transform: capitalize;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 25px;
    box-shadow: inset 3px 3px 3px rgba(53, 53, 53, 0.562) ,  inset -3px -3px 3px rgba(32, 23, 32, 0.24);
}

.stopwatch{
    position: relative;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content:space-around ;
    gap: 1.7rem;
    margin-top: 2rem;
    width: 100vw;
   
}
#input_time{
    
    padding: 0.2rem;
    font-size: 1rem;
    position: relative;
    display: flex;
    text-align: center;
    align-self: center;
    width: 70%;
    background: transparent;
}

.st_design{
    position: relative;
    width: 230px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    isolation: auto;
    align-items:center ;
  gap: 0.1rem;
    box-shadow:  8px 8px 8px rgba(46, 21, 43, 0.377) ,   -8px -8px 8px rgba(7, 5, 7, 0.24);
    
}

.st_design span{
    color: white;
}

sub{
position: absolute;
    colour: blue;
    z-index: 9;
    top: 58%;
}

.st_design::after{
    content: '';
    position: absolute;
    align-self: center ;
    width: 80%;
    background: rgba(0, 0, 0, 0.219) ;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: -3;
    box-shadow: inset 5px 5px 8px rgba(20, 20, 20, 0.377) ,  inset -8px -8px 8px rgba(7, 5, 7, 0.24)
}

/*.st_design::before{
    content: '';
    position: absolute;
    align-self: center ;
    width: 60%;
    background: white;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: -2;
    box-shadow: inset 8px 8px 8px rgba(39, 39, 39, 0.377) ,  inset -8px -8px 8px rgba(7, 5, 7, 0.24)
}*/

.stopwatch ul  {
    position:  relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 500px; ;
    list-style: none;
}

.stopwatch ul li{
    position: relative;
    width: 100%;

}
.actionButton{
    display: flex;
    justify-content: space-evenly;
    gap: 0.8rem;
}
.actionButton button{
    padding: 0.4rem;
    font-size: 0.6rem;
    border: none;
    outline: none;
  color:   rgba(104, 38, 38)
}
.list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    padding: 1.5rem;
    width: 80%;
    color: white;
}

.list input{
    
    color: rgb(39, 196, 39);
    outline: none;
    background: transparent;
    border: none;
    font-size: 1rem;

    border-bottom: 1px solid silver;
}
.list input::placeholder{
 position: absolute;
 bottom: 0;
}

.stopwatch .down{
    width: 100%;
    position: relative;
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    
}

.stopwatch .down button{
    padding: 0.3rem;
    font-size: 0.8rem    
    ;
}

button{
    background: inherit;
    box-shadow:  3px 3px 8px rgb(41, 19, 41),  -3px -3px 8px  rgb(41, 19, 41);
}

